body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 40px auto;
  background: #f4f6f8;
}

h1 {
  text-align: center;
}

form {
  background: white;
  padding: 15px;
  border-radius: 8px;
}

input, button {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

li {
  background: white;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  list-style: none;
}